*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background: #e8e8e8;
}
header, main, footer{
  height: 80px;
  width: 1439px;
  margin: auto;
  background: #fff;
  border: 1px dotted #000;
}
main{
  height: 3000px;
}
footer{
  height: 302px;
}